.logo {
  width: 100px;
  height: 50px;
}

.login {
  background: url('./images/webpack.png');
  background-size: contain;
  width: 50px;
  height: 50px;
}

.search {
  &:before {
    font-family: 'fontawesome';
    content: "\f002";
  }
}